@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    text-align: center;
    color: blueviolet;
    font-variant: normal;
}




h1{
    font-size: 10em;
    font-family: "Quicksand", sans-serif ;
    font-weight: 900px;
    text-decoration: line-through 10px;
    text-shadow: 15px 35px 25px rgba(0, 195, 255,0.5);
    letter-spacing: 55px;
}



h2{
    font-size: 8em;
    font-family: "Quicksans", sans-serif;
    line-height: 0.3;
    text-decoration: underline;
}
h1#title{
    font-size: 7em;
    color: salmon;
    text-decoration: none ;
    font-variant: normal;
}